
.parent{
    display: flex;
    margin-left: 100px;
    background: #fff;
    justify-content: center;
    padding-top: 50px;
}

img{
    width: 250px;
    height: 250px;
}
.child1{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}
.child2{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;

}
.child3{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
    
}
h2{
    color: #FF1DA9;
    font-size: 16px;
    font-weight: 600;
}
h1{
    color: pink;
}
button{
    background: #FF1DA9;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    border-style: none;
}
.button-text{
    color: white;
    text-align: center;
    font-weight: 600;
    
}

.parent2{
    display: flex;
    margin-left: 100px;
    background: #fff;
    justify-content: center;
    padding-top: 200px;

}


.child4{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}
.child5{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;

}
.child6{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
    
}

.parent3{
    display: flex;
    margin-left: 100px;
    background: #fff;
    justify-content: center;
    padding-top: 200px;

}


.child7{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}
.child8{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;

}
.child9{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
    
}



.parent4{
    display: flex;
    margin-left: 100px;
    background: #fff;
    justify-content: center;
    padding-top: 200px;

}


.child10{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}
.child11{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;

}
.child12{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}

.parent5{
    display: flex;
    margin-left: -200px;
    background: #fff;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 350px;

}


.child13{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;
}
.child14{
    max-width: 300px;
    max-height: 300px;
    padding-right: 50px;

}
